<p>
  current status: {{ onlineOfflineService.isOnline ? 'online' : 'offline' }}
</p>
<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
</div>
<div>
  <form (ngSubmit)="getResult(formRef)" #formRef="ngForm">
    <div>
      <label for="name">Name:</label>
      <input name="name" ngModel required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input name="email" ngModel required email>
    </div>
    <button [disabled]="!formRef.valid" type="submit">Get Result</button>
  </form>
</div>
<div>
  <strong>Result:</strong>
  <div>Name: {{name}}</div>
  <div>Email: {{email}}</div>
  <div>Marks: {{marks}}</div>
</div>